.About {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070721;
    box-sizing: border-box;
}

.aboutNav {
    background-color: #070721;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px white;
    z-index: 1000;
  }
  
  .aboutNav-icon {
    width: 140px;
    cursor: pointer;
  }
  
  .aboutNav-links {
    display: flex;
    align-items: center;
  }
  
  .aboutNav-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }

#introSection {
    margin-top: 60px;
    background-color: #202B5E;
    padding: 20px;
    text-align: center;
}

#introText {
    max-width: 600px;
    margin: 0 auto;
}

#introText h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

#introText p {
    color: whitesmoke;
    line-height: 1.6;
}

h2 {
    color: white;
}

section {
    margin: 80px;
}

.about-plain {
    color: whitesmoke;
    line-height: 1.6;
}

.teamMembersContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.teamMember {
    max-width: 200px;
    margin: 10px;
}

.teamMember img {
    width: 100%;
    border-radius: 50%;
}

.teamMember h3 {
    margin-top: 10px;
    color: white;
}

.teamMember p {
    color: whitesmoke;
    margin: 5px 0;
}

.teamMember .caption {
    font-style: italic;
}

footer {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0; /* Remove bottom margin */
    background-color: #202B5E;
    margin: 80px;
    padding: 20px 0;
    margin-bottom: 0px;
}

#footerContent {
    display: flex;
    justify-content: space-between;
}

#footerContent div {
    padding-left: 50px;
    width: 45%;
}

#footerContent h3 {
    color: white;
    font-size: x-large;
}

#footerContent p {
    color: whitesmoke;
}

#footerLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footerLinks h3 {
    font-size: larger;
    margin-bottom: 10px;
}

#footerLinks a {
    color: whitesmoke;
    text-decoration: none;
}

#footerLinks a:hover {
    text-decoration: underline;
}