.App {
  text-align: center;
  background-color: #070721;
}

p {
  font-size: 1em;
  padding: 0;
  color:white;
}

.appNav {
  background-color:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px black;
  z-index: 1000;
  top: 0;
}

.appNav-icon {
  width: 140px;
  cursor: pointer;
}

.appNav-links {
  display: flex;
  align-items: center;
}

.appNav-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.search-bar-container {
  padding-right: 20px;
  display: flex;
  align-items: right;
}

input {
  margin-right: 10px;
}

.backdrop-container {
  position: relative; /* Make the container a positioning context */
  width: 100%;
  height: auto;
  border: 1px solid #ffffff00;
  margin-bottom: 1%;
}

.champ-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  filter: brightness(0.85);
}

.loading-circle {
  border: 4px solid #ffffff;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 5%; 
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.top-container { 
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120%;
  margin-top: 8%;
  margin-bottom: 1%
}

.summoner-image-overall-container {
  width: 150px;
  height: auto;
  position: relative;
  display: flex; /* Added display: flex; to enable justify-content and align-items */
  justify-content: left;
  align-items: center;
  padding: 1%;
  margin-top: 1%;
  z-index: 1;
  color:white;
}

/* Summoner Icon */
.image-container {
  display: flex;
  width: 145px;
  height: auto;
  border-radius: 15%;
  overflow: hidden;
  border: 3.1px solid #4ec417;
  margin-top: .5%;
  margin-left: 2.48%;
  color:white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the image is above other elements */
  color:white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the image is above other elements */
  color:white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the image is above other elements */
  color:white;
}

/* Summoner Top container text style */
.heading-summoner-text-container {
  display: flex;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
  margin-top: 1%;
  padding: 1%;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
  z-index: 1;
  color:white;
}


.summoner-level-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 51%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 15%;
  border-radius: 25%;
  border: 2px solid #4ec417;
  background-color: rgba(42, 47, 47, 0.978); /* Use rgba to set a transparent background */
  color: #fff;
  font-size: .8em;
  font-weight: 700;
  color:white;
}


/* Dashboard container below top container (fix this) */
.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  z-index: 1;
  color:white;
}

.overview-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 23%;
  height: auto;
  font-size: 1.2em;

  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  z-index: 1;
  color:white;
}

.dashboard-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: auto;
  font-size: 1.2em;
 
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  z-index: 1;
  color:white;
}

/* Overall Bottom Container, holding the 2 column split with rank,champ stats, match summary */
.bottom-container {
  display: grid;
  grid-template-columns: 25% 75%;
  color:white;
}

/* Section columns for rank and match summary */
.column {
  padding: 0;
  width: 100%; /* Equal width for both columns */
  height: auto;
  color:white;
}

/* Overall Ranked container box */
.rank-content {
  width: 100%;
  height: auto;
  margin-left: 2%;
  margin-bottom: 2%; /* Add some spacing between boxes */
  color:white;
  background-color: #191937;
}

.queue-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}

.rank-content-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  width: 80%;
  height: auto;
  padding-left: 2%;
  justify-content: left;
  align-items: center;
  color:white;
}

.bluebar {
  height: 50%;
  width: 1.8%;
  background: #3273fa;
  border-radius: 20%;
  margin-right: 12px;
  margin-top: 1%;
  color:white;
}

.queue-type {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1em;
  color:white;
}

.button-placeholder{
  width: 6%;
  height: 5%; /* Add a fixed height for better visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.unranked-box {
  display: flex;
  width: 30%;
  height: auto;
  font-size: 1em;
  font-weight: 500;
  justify-content: right;
  align-items: center;
  padding-right: 2%;
  color:white;

}

.rank-sub-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  font-size: .5em;
  line-height: 10%;
  color: white;
  margin-bottom: 1%;
  color:white;
  
}

.rank-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  margin-left: .3%;
  width: 30%;
  height: auto;
  color:white;
 
}

.rank-image-container .icon {
  width: 90%;
  height: auto;
  border-radius: 20%;
  color:white;

}

.rank-text-container {
  flex-direction: column;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
  display: flex;
  width: 90%;
  margin-right: 1%;
  color:white;

}

.rank-row {
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  color:white;
}

.rank-type-box {
  display: flex;
  width: 50%;
  height: auto;
  font-size: .9em;
  font-weight: bold;
  justify-content: left;
  align-items: center;
  padding-left: 1%;
  color:white;

}

.rank-win-loss-box {
  display: flex;
  width: 50%;
  height: auto;
  font-size: .8em;
  font-weight: 500;
  justify-content: right;
  align-items: center;
  padding-right: 1%;
  color:white;
}

.lp-and-win-rate-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: center;
  color:white;
}

.lp-box {
  display: flex;
  width: 50%;
  height: auto;
  font-size: .8em;
  font-weight: 300;
  justify-content: left;
  align-items: center;
  padding-left: 1%;
  color:white;
}

.win-rate-box {
  display: flex;
  width: 50%;
  height: auto;
  font-size: .8em;
  font-weight: 300;
  justify-content: right;
  align-items: center;
  padding-right: 1%;
  color:white;
}

.champion-stats-side-container {
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 2%;
  color:white;
}

.recently-played-with-container {
  width: 100%;
  height: auto;
  display: flex;
  font-size: 1.2em;
  color:white;

}

.rpw-title {
  width: 100%;
  height: 35px;
  justify-content: center;
  display: flex;
  font-size: 1.2em;
  color:white;
}

.rpw-subheader {
  flex: 1;
  justify-content: center;
  display: flex;
  height: 5%;
  font-size: 0.8em;
  color:white;
}


.rpw-row-container {
  width: 100%;
  height: auto;
  display: flex;
  border: 0.1px solid white;
  color:white;
}

.rpw-row {
  flex: 1;
  justify-content: center;
  display: flex;
  height:auto;
  font-size: 0.8em;
  border: 0.1px solid #f8f8f8;
  color:white;
}



/* Game boxes */
.match-summary-box {
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Stack the child elements vertically */
  width: 95%;
  height: auto;
  padding: 1%;
  margin-left: 1%;
  color:white;
}


.content-container {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap to the next line if they don't fit */
  justify-content: space-between;
  margin-bottom: 1%;
  width: 100%;
  height: auto;
  margin: 0;
  color:white;
  background-color: #191937;
}

/* Mode,date,LP,Win/loss, Match Duration*/
.group-one {
  width: 12%;
  height: auto; 
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:white;
  margin-left: 1%;
}
/* container for queue type and time since match occured boxes */
.g1-row-one {
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 2%;
  color:white;
}

.queue-type-box {
  width: 100%;
  height: auto;
  font-size: 1.1em;
  font-weight: bold;
  color:white;
}

.date-box {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  color:white;
}

.g1-row-two {
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  font-size: 1.2em;
  color:white;
}

.g1-row-three {
  width: 100%;
  height: 20%; 
  display: flex;
  align-items: center;
  margin-left: 1%;
  color:white;
}

.win-or-loss-box {
  width: 100%;
  height: 100%;
  font-size: 1.2em; /* Adjust the font size as needed */
}

/* Color the text based on win/loss */
.win-or-loss-box p.win {
  color: #4083f4;
  font-weight: bold;
  font-size: 1.1em;
}

.win-or-loss-box p.loss {
  color: #ff3e3e;
  font-weight: bold;
  font-size: 1.1em;
}

.match-duration-box {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  color:white;
}

/* Summoners champion, level, abilities, and runes*/
.group-two {
  width: 14%;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

/* Row for champion image and level*/
.g2-row-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color:white;
}

/* Container for the champion image and level */
.g2-champion-container {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color:white;
}

/* Container for the champion image */
.g2-champion-face {
  display: flex;
  width: 65%;
  height: auto;
  overflow: hidden;
  margin-top: .5%;
  margin-left: 15%;
  border-radius: 15%;
  position: relative;
  color:white;
}

/* Style for the champion face */
.g2-champion-face .icon {
  width: 100%; /* Take the full width of the outer container */
  height: auto;
  overflow: hidden;
  transform: scale(1.1);
  object-fit: cover;
  color:white;
}

/* Style and layout for the champion level in bottom left */
.champion-level {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 28%;
  height: 28%;
  border-radius: 25%;
  background-color: rgba(68, 82, 83, 0.7); /* Use rgba to set a transparent background */
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Set text color to white for better visibility */
  color:white;
}

/* Row for the summoner spells and runes */
.g2-row-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color:white;
}

/* Column for summoner spells, contains 2 rows */
.summoner-spells-column {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  justify-content: center;
  color:white;
}

/* Container for the image of each summoner spell */
.summoner-spell {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1%;
  justify-content: center;
  display: inline-block;
  position: relative;
  color:white;
}

/* Summoner spell 1 image style  */
.summoner-spell .icon1,
.summoner-spell .icon2{
  width: 75%;
  margin-top: 3%;
  height: auto;
  border-radius: 20%;
  color:white;
}

/* Runes column container*/
.runes-column {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  justify-content: center;
  margin-top: 1%;
  color:white;
}

/* Image containers for each rune */
.single-rune {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  display: inline-block;
  position: relative;
  padding: 2%;
  color:white;
}

/* Attributes for rune 1 */
.single-rune .icon1,
.single-rune .icon2{
  width: 80%;
  height: auto;
  border-radius: 20%;
  color:white;
}

.augment-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 2%;
  display: inline-block;
  position: relative;
  color:white;
}

.augment-container .icon1,
.augment-container .icon2,
.augment-container .icon3,
.augment-container .icon4 {
  width: 85%;
  height: auto;
  border-radius: 20%;
  color:white;
}



/* K/D/A, KDA, CS, vision score */
.group-three {
  width: 13%;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  font-size: 1.2em;
  gap: 5%;
}

.g3-kda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  color:white;
}

.g3-kda-ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  color:white;
}

.g3-cs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  color:white;
}

.g3-vision-score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  color:white;
}


 
/* Items bought from shop */
.group-four {
  width: 18%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color:white;
}

.item-container {
  width:100%;
  height:100px;
  display: flex;
  flex-direction: column;
  color:white;
  gap: 2%;
}

.item-row-1 {
  width:100%;
  height:50%;
  display:flex;
  color:white;
  
}

.item-row-2 {
  width:100%;
  height:50%;
  display:flex;
  color:white;
}

.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  width:25%;
  height:100%;
  justify-content: center;
  display: inline-block;
  position: relative;
  color:white;

}


.item-image {
  max-width: 100%;
  height: 100%;
  display: block;
  border-radius: 15%;
  padding: 1%;
  color:white;
}

/* 5v5 player layout, with champion icons*/
.group-five {
  width: 30%;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

/* Column for champion icons and summoner names, holds the rows */
.champion-icon-and-summoner-name-column {
  width: 60%; /* Equal width for both columns */
  height: auto;
}

/* Creates rows in the columns to hold the icon and name containers*/
.champion-icon-and-summoner-name-row {
  width: 100%; /* Equal width for both columns */
  height: auto;
  margin-bottom: 1%;
  color:white;
}

.champion-img-container {
  display: flex;
  width: 80%;
  height: auto;
  overflow: hidden;
  margin-top: .5%;
  margin-left: 2.48%;
  color:white;
}

/* Style for the champion icons */
.champion-img-container .icon {
  width: 33%; /* Set your desired width */
  height: auto; /* Set your desired height */
  border-radius: 13px;
  color:white;
}

/* Style for the summoner-name-container */
.summoner-name-container {
  display: flex;
  align-items: center; /* Center vertically within the container */
  width: 70%; /* Adjust the width as needed */
  height: auto;
  overflow: hidden; /* Hide any content that overflows the container */
  color:white;
}

/* Style for the text inside the summoner-name-column */
.summoner-name-container p {
  margin: 0;
  cursor: pointer; /* Add a pointer cursor to indicate the clickability */
  font-size: 0.8em;
  padding: 5px; /* Optional: Add padding for better appearance */
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Display an ellipsis (...) for overflow text */
  overflow: hidden; /* Hide any content that overflows the container */
  color:white;
}

/* Underline the summoner name on hover */
.summoner-name-container p:hover {
  text-decoration: underline;
  color:white;
}

/* Style the summoner name in bold when it matches the search text */
.summoner-name-container p.bold {
  font-weight: bold;
  color:white;
}

/* Style for the summoner container */
.summoner-name-container .summoner {
  color:white;
}

/* Small triangle toggle */
.dropdown-triangle{
  width: 5%;
  height: 6%; /* Add a fixed height for better visibility */
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* Add default transition for smooth effect */
  transition: background-color 0.3s ease;
  transition: transform .8s ease;
  color:white;
  
}
.dropdown-triangle:hover {
  background-color: green;
}
/*Flip triangle upside down*/
.upside-down {
  transform: rotate(180deg);
  color:white;
}

/* Hover effect */
.dropdown-triangle:hover {
  background-color: #b4aeb9; /* Change to the color you want on hover */
}

/* Actual Dropdown box container when match summary box is clicked*/
.dropdown-box {
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Stack the child elements vertically */
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  color:white;
  background-color: #191937;  
}


.ally-side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color:white;
}

.ally-header-container{
  display: grid;
  grid-template-columns: 31% 15% 13% 7% 8% 12.5% 13.5%;
  color: #000000;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  align-items: center;
  max-height: 12%; /* Adjust the value as needed */
  overflow: hidden;
  color:white;
}

.ally-match-result {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color:white;

}
/* Color the text based on win/loss */
.ally-match-result p.win {
  color: #4083f4;
  font-weight: bold;
  font-size: 1em;
}

.ally-match-result p.loss {
  color: #ff3e3e;
  font-weight: bold;
  font-size: 1em;
}

.ally-match-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color:white;
}


.match-summary-row{
  display: grid;
  grid-template-columns: 6% 8.5% 16% 15% 14% 6% 9.5% 11.5% 18%;
  color: #000000;
  font-size: 1em;
  text-align: center;
  align-items: center;
  margin-bottom: .1%;
  color:white;
}

/* Container for the champion image */
.ms-champion-face {
  display: flex;
  width: 85%;
  height: auto;
  overflow: hidden;
  margin-top: .5%;
  margin-left: 3%;
  border-radius: 15%;
  position: relative;
  color:white;
}

/* Style for the champion face */
.ms-champion-face .icon {
  width: 100%; /* Take the full width of the outer container */
  height: auto;
  overflow: hidden;
  transform: scale(1.1);
  object-fit: cover;
  color:white;
}


.enemy-side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color:white;
}

.enemy-header-container{
  display: grid;
  grid-template-columns: 31% 15% 13% 7% 8% 12.5% 13.5%;
  color: #000000;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  align-items: center;
  max-height: 12%; /* Adjust the value as needed */
  overflow: hidden;
  color:white;
}

.enemy-match-result {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color:white;

}
/* Color the text based on win/loss */
.enemy-match-result p.win {
  color: #4083f4;
  font-weight: bold;
}

.enemy-match-result p.loss {
  color: red;
  font-weight: bold;
}

.enemy-match-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color:white;
}

/* Creates rows in the columns to hold the icon and name containers*/
.ms-rank-and-summonername-row {
  width: 100%; /* Equal width for both columns */
  height: auto;
}

.ms-rank-image-container {
  display: flex;
  width: 35%;
  justify-content: right;
  height: auto;
  overflow: hidden;
}

/* Style for the champion icons */
.ms-rank-image-container .icon {
  width: 35%; /* Set your desired width */
  height: auto; /* Set your desired height */
  border-radius: 20px;
  color:white;
}

.ms-augment-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 2%;
  display: inline-block;
  position: relative;
  color:white;
}

.ms-augment-container .icon1,
.ms-augment-container .icon2,
.ms-augment-container .icon3,
.ms-augment-container .icon4 {
  width: 90%;
  height: auto;
  border-radius: 20%;
  color:white;
}

.ms-rank-type {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 1%;
  width: 100%;
  height: auto;
  color:white;
}

/* Style for the summoner-name-container */
.ms-summoner-name-container {
  display: flex;
  align-items: center; /* Center vertically within the container */
  width: 100%; /* Adjust the width as needed */
  height: auto;
  font-size: 1.1em;
  overflow: hidden; /* Hide any content that overflows the container */
  color:white;
}

/* Style for the text inside the summoner-name-column */
.ms-summoner-name-container p {
  margin: 0;
  cursor: pointer; /* Add a pointer cursor to indicate the clickability */
  font-size: 1em;
  margin-left: 3%;
  text-align: left;
  align-items: baseline;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Display an ellipsis (...) for overflow text */
  overflow: hidden; /* Hide any content that overflows the container */
  color:white;
}

/* Underline the summoner name on hover */
.ms-summoner-name-container p:hover {
  text-decoration: underline;
  color:white;
}

/* Style the summoner name in bold when it matches the search text */
.ms-summoner-name-container p.bold {
  font-weight: bold;
  color:white;
}

/* Style for the summoner container */
.ms-summoner-name-container .summoner {
  margin-bottom: 10%; /* Add spacing between summoner names */
  color:white;
}


.ms-kda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  color:white;
}

.ms-kda-ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  color:white;
}

.ms-items {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color:white;
}

.ms-item-container {
  width: auto;
  height:auto;
  display: flex;
  flex-direction: column;
}

.ms-item-row-1 {
  width:70%;
  height:40%;
  display:flex;

  
}

.ms-item-row-2 {
  width:70%;
  height:40%;
  display:flex;
  color:white;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0e0d0d;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  max-width: 350px; /* Set your desired max-width */
  overflow: hidden; /* Ensure content is contained within the tooltip */
  color:gold;
  z-index: 999;
}

.summoner-spell:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  width: max-content;
  transition-delay: .5s;
  height: auto; /* Set height to auto to allow the tooltip to grow/shrink based on content */
  color:gold;
}

.single-rune:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  width: max-content;
  transition-delay: .5s;
  height: auto; /* Set height to auto to allow the tooltip to grow/shrink based on content */
}

.item-0:hover .tooltip,
.item-1:hover .tooltip,
.item-2:hover .tooltip,
.item-3:hover .tooltip,
.item-4:hover .tooltip,
.item-5:hover .tooltip,
.item-6:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  width: max-content;
  transition-delay: .5s;
  height: auto; /* Set height to auto to allow the tooltip to grow/shrink based on content */
}

.ms-augment-container:hover .tooltip,
.augment-container:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  width: max-content;
  transition-delay: .5s;
  height: auto; /* Set height to auto to allow the tooltip to grow/shrink based on content */
}

.header-tooltip {
  color: #4083f4;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5em;
}

.description-tooltip{
  font-family: sans-serif;
  font-size: .9em;
  text-align: left;
  margin-bottom: 0;
  color:white;
}

.gold-description{

  font-family: sans-serif;
  font-weight: 200;
  font-size: .9em;
  text-align: left;
  margin-bottom: 0;
}

